<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE-ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/archive.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/archive.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date | %level | %thread | %logger %n%message%n%xException%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-CURRENT" class="ch.qos.logback.core.FileAppender">
        <file>logs/current.log</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%date | %level | %thread | %logger %n%message%n%xException%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldWhite(%date) | %highlight(%level) | %cyan(%thread) | %magenta(%logger) %n%message%n%xException%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE-ALL"/>
        <appender-ref ref="FILE-CURRENT"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>